.tab__button__container {
	display: flex;
	justify-content: center;
	gap: 60px;
	border: none;
}
.tab__button__container button {
	background: none;
}

.tab__button {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 20px;
	outline: none;
	color: #fff;
	cursor: pointer;
	width: auto;
	background-color: #181818;
	border-color: inherit;


}
.tab__button:hover {
	color: #05fdd8;
}
.tab__panel {
	display: flex;
	border: #fff solid 3px;
	justify-content: center;
	align-items: center;
	padding: 15px;
	height: 80vh;
}
.tab__panel div {
	width: 275px;
	border: #05fdd8 solid 3px;
}
.tab__panel h1 {
	border: #05fdd8 solid 3px;
	font-size: 50px;
	text-align: center;
	width: auto;
}
.tab__panel p {
	font-size: 30px;
	width: auto;
}
.tab__panel img {

	border: rgb(0, 255, 42) solid 0.5px;
}
.tab__panel img {
	position: relative;
	max-width: 30vw;
	width: auto;
	height: auto;
	object-fit: cover;
}
.tab__panel i {
	border: #fff solid 2px;
	font-size: 90px;
	width: auto;
	cursor: pointer;
}

.tab__button.selected {
	color: #05fdd8;
}
.tab__button__container button {

	border: none;

}
.tab__panel_3 {
	display: block;
	align-items: center;
	justify-content: center;
	border: yellowgreen solid 5px;
	height: 80vh;
}
.tools {
	width: auto;
	border: #05fdd8 solid 4px;
	align-items: center;
	justify-content: center;
}
.logos {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	border: red solid 3px;

	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.logos img {

	width: auto;
	border: rgb(114, 0, 0) solid 3px;
	margin: 0 30px;
	background-size: contain;
	max-width: 10vw;
	min-width: 10vw;
	width: auto;
	height: auto;
	object-fit: cover;
}
.logos figcaption{
	text-align: center;
	border: #ff00c8 solid 2px;
	font-size: auto;
	font-weight: 500;
	align-items: center;
	justify-content: center;

}
.resolution {
	border: rgb(0, 255, 255) solid 3px;
	height: 25vh;
	position: relative;
}
.resolution div {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.size {
	height: 25vh;
	position: relative;
}
.size div {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media (max-width: 1000px){
.tab__panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	align-items: center;
	padding: 15px;
}
	.tab__panel i {
		border: #fff solid 2px;
		font-size: 45px;
		width: auto;
		cursor: pointer;
	}
	.tab__button p{
		display: none;
	}
	.tab__button i{
		display: flex;
	}




}
