.photography_container {
	width: 100%;
	padding: 15px 15px;
}

.gallery {
	columns: 4 170px;
	column-gap: .5em;
}

.gallery-item {
	position: relative;
	margin-bottom: 0.5em;
}

.gallery-image {
	max-width: 100%;
	display: block;
	outline: #000 solid 5px;
	outline-offset: -5px

}

.gallery-image:hover {

}

.item__info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1d1d1d;
	opacity: 0;
	transition: .5s all ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}
