/*MON-TO-FRI*/
.mon-to-fri_principal{
background-color: #181818;
	height: auto;
}
.mon-to-fri_principal .section_header{
	color: #000;
	font-size: 60px;
	letter-spacing: 60px;
	text-align: center;
	background-color:#05fdd8;
	height: auto;

}

.section_header{
	color: #000;
	font-size: 60px;
	letter-spacing: 60px;
	text-align: center;
	background-color:#05fdd8;
	height: auto;

}
.cover_counter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin: 10px 0;
	width: 100%;
	height: auto;
}
.hr_m-t-f {
	border: 0;
	height: 5px;
	background: #000;
}



.section_header:hover {
	animation: glitch 0.5s infinite alternate;
}

.mon-to-fri_cover {
	width: 525px;
	height: 525px;
	position: relative;
}
/*COVER IMG*/
.mon-to-fri_cover .img-front {
	background-size: contain;
	width: 100%;
	height: 100%;
	display: block;
}
.mon-to-fri_cover .img-back {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;

	z-index: 0;
	opacity: 0;
	/*transform: translate(0%, -100%);*/
}

.mon-to-fri_cover:hover .img-back {
	display: inline;
	opacity: 0.95;

	-webkit-animation: fadeInFromNone 1.5s ease-out;
	-moz-animation: fadeInFromNone 1.5s ease-out;
	-o-animation: fadeInFromNone 1.5s ease-out;
	animation: fadeInFromNone 1.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 0.95;
	}
}

@-moz-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 0.95;
	}
}

@-o-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 0.95;
	}
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 0.95;
	}
}
/*WEEKS COUNTER*/
.mon-to-fri_counter {
	width: 300px;
	display: table;
	justify-content: center;
}
.num_weeks {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 70px;
}
.num_weeks h2 {
	text-align: center;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.64), #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Mon-to-Fri Description*/
.mon-to-fri_description {
	font-size: 20px;
	padding: 5px 15px;
	width: 300px;
	height: auto;
	display: table;
}
.mon-to-fri_description p {
	display: table-cell;
	vertical-align: middle;
	text-align: justify;
}
.mon-to-fri_description .dhu{
	color: #fd2155;
}
.more_btn {
	width: 100%;
	height: 100%;
	top: 0;
}
/*----------------------------------RESPONSIVE--------------------------------------------------*/
@media (max-width: 1176px) {
	.cover_counter {
		flex-direction: column;
		gap: 10px;
	}
	.mon-to-fri_description,
	.mon-to-fri_counter {
		width: auto;
		max-width: 700px;
		height: auto;
	}
	.num_weeks {
		display: flex;
	}
	.mon-to-fri_cover {
		width: auto;
		height: auto;
		max-width: 500px;
		max-height: 500px;
	}
}
@media (max-width: 1000px) {

	.mon-to-fri_principal .section_header{
		font-size: 40px;
		letter-spacing: 40px;
		text-align: center;
		color: #000;
	}
}
@media (max-width: 650px) {
	.mon-to-fri_principal .section_header{
		font-size: 30px;
		letter-spacing: 20px;
	}
	.section_header {
		font-size: 30px;
		letter-spacing: 20px;
	}
	.num_weeks {
		font-size: 30px;
	}
	.mon-to-fri_description {
		font-size: 15px;
		height: 130px;
	}
}
