.weeks__nav {
    display: none;
}
@media screen and (min-width: 1250px) {
    .mon-to-fri__layout {

        display: grid;
        grid-template-columns: 1fr 100px;
    }

    .weeks__nav {
background-color: #fd2155;
        display: flex;
        border-left: 5px groove #000;
        padding: 1rem;
        align-items: start;
        position: relative;

    }

    .weeks__nav ul {
        position: -webkit-sticky;
        position: sticky;
        /*separacion del top del menu*/
        top:20vh;

    }

    .weeks__nav li {
        margin: 1rem 0;

    }

    .weeks__nav li a {
        transition: color 0.7s ease;
        color: black;
        font-weight: bold;
    }

    .weeks__nav li.active a{
        color:#fff;


    }
}
