.ham {
	position: absolute;
	cursor: pointer;
	font-size: 30px;
	top: 30px;
	right: 60px;
	background-color: transparent;
	display: none;
	z-index: 99;
}
.ham span {
	background-color: #ffffff;
	display: block;
	height: 5px;
	width: 30px;
	margin: 5px auto;
	border-radius: 2px;
}

/*Navbar Container Main*/
.nav__bar {
	width: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #181818;
	border: solid 2px #181818;
	z-index: 10;
	margin: 0;
	padding: 5px 15px;
	justify-content: center;
	align-items: center;
}
.nav-main-all {
	display: block;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
}
.nav-main-up ul {
	display: flex;
	text-decoration: none;
	gap: 15px;
}

.enlaces-menu li a:hover {
	text-decoration: line-through 5px solid #fd2155;
	transition: 0.5s;
	width: 100%;
}
.nav-brand {
	width: 200px;
}
.nav-brand:hover {
	animation: logo 0.1s alternate;
}
@keyframes logo {
	0% {
		transform: translateX(-5px);
	}
	10% {
		transform: translateX(-5px);
	}
	15% {
		transform: translateY(-3px);
	}
	300% {
		transform: translateY(3px);
	}
}

.nav-brand-menu {
	display: none;
}
.nav-main-up {
	font-size: 30px;
}
.nav-main-down {
	margin: 10px 0;
}
.nav-main-down,
.nav-main-up {
	display: flex;
	justify-content: space-between;
}
.slogan {
	font-size: 20px;
	letter-spacing: 15px;
	font-weight: inherit;
}
.slogan:hover {
	animation: glitch 0.5s infinite alternate;
}
.nav-main-down ul {
	display: flex;
	gap: 60px;

	font-size: 20px;
}
.nav-main-down ul li {
	cursor: pointer;
}
.nav-main-down ul li:hover {
	animation: glitch 0.5s infinite alternate;
}

.hr__nav {
	border: 0;
	height: 3px;
	background-image: linear-gradient(
		to right,
		rgba(0, 225, 255, 0),
		#05fdd8,
		rgba(12, 135, 184, 0)
	);
}

@media (max-width: 1000px) {
	/*Btn ham (bars)*/
	.ham {
		display: block;
		cursor: pointer;
		position: fixed;
		top: 5px;
		right: 15px;
		transition: 0.2s 0.1s;
		z-index: 999;
	}
	/* Animaciones para btn ham and close*/
	@keyframes muestraMenu {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* END Animaciones */
	/*ENLACES MENU (Mon-To-Fri, Video Loop, Wallpaper, Archive, About)*/
	.enlaces-menu.activado {
		display: flex;
		animation: muestraMenu 350ms ease-in-out both;
		z-index: 10;
		transform: translateY(0);
	}
	/*Animation for BTN CLOSE (X)*/
	.br-1.animado {
		transform: rotate(-45deg) translate(-7px, 6px);
		background-color: #fd2155;
	}
	.br-2.animado {
		opacity: 0;
	}
	.br-3.animado {
		transform: rotate(45deg) translate(-8px, -8px);
		background-color: #fd2155;
	}
	.ham.girar:hover {
		transform: rotate(360deg);
	}
	/*END Animation for BTN CLOSE (X)*/
	.nav-brand-menu {
		border: solid 3px white;
		padding: 15px;
		align-items: center;
		width: 200px;
		display: block;
	}
	.enlaces-menu {
		font-size: 40px;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 0;
		padding: 0;
		background-color: #181818;
		opacity: 0;
		transition: opacity 1s ease-out;
		width: 100%;
		height: 100vh;
		transform: translateY(-100vh);
		z-index: -999;
		transition: transform 0.5s ease-in-out;
	}
}

@media (max-width: 650px) {
	.nav-main-down {
		align-items: center;
	}
	.slogan {
		font-size: 15px;
		letter-spacing: 10px;
	}
	.nav-main-down ul {
		display: flex;
		gap: 40px;

		font-size: 15px;
	}
	.nav-brand {
		width: 150px;
	}
	.nav-main-down {
		margin: 15px 0;
	}
}
