.modal {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-main {
	position: fixed;
	z-index: 101;
	background: #161B22;
	border: #0D1117 5px;
	border-style: outset;
	width: 90%;
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
}
.close__button {
	position: absolute;
	top: 10px;
	right: 15px;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 40px;
	cursor: pointer;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}
@media (max-width: 1000px) {
	.close__button {
		font-size: 30px;

	}
}


