/*---------------------------------WEEK # - CONTAINER-----------------------------------------------------------*/
.week_container_main {
	position: relative;
}
/*Title (WEEK ###) AND Subtutle(p)*/
.weeks_title {
	font-size: 40px;
	letter-spacing: 40px;
	text-align: center;
	color: #fff;
	background-color: #00ffd956;
}
.weeks_title p {
	font-size: 20px;
	letter-spacing: 5px;
}
/*(----------------------------------)*/

/*Info and Img*/
.main_week_block {
	margin: 0 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 30px;
	gap: 60px;
}
/*Container of each image and info block*/
.info_and_img {
	width: 30%;
	height: auto;
	text-align: center;
	justify-content: center;
	background-color: #181818;
}
/*Title and date*/
.info_container {
	border: #fff solid 3px;
	height: 100px;
	padding: 0;
}
/*Title*/
.info_container .img_title {
	border: yellow solid 3px;
	font-size: 20px;
	width: auto;
	height: 50px;
}
/*Date*/
.info_container .img_date {
	font-size: 15px;
}
/*Image*/
.img_png {
	background-size: contain;
	width: 100%;
	overflow: hidden;
}
/*Btn More*/
.img_more_btn {
	font-size: 30px;
}
/*-----RESPONSIVE-----*/
@media (max-width: 1176px) {
	.info_and_img {
		width: 45%;
	}
}

@media (max-width: 1000px) {
	.weeks_title {
		font-size: 40px;
		letter-spacing: 40px;
		text-align: center;
		color: #fff;
	}
}
@media (max-width: 650px) {
	.weeks_title {
		font-size: 30px;
		letter-spacing: 20px;
	}
	.weeks_title p {
		font-size: 15px;
	}
	.info_and_img {
		width: 90%;
	}
}
