/*INDEX*/

/*Container Video and Pharase*/

body.opening .showcase {
	display: none;
}

body.home .nav__bar {
	position: absolute;
	left: 0;
	right: 0;
	transition: all 2.5s linear;
	z-index: 30;
}

body.hide-content .nav__bar {
	top: -30vh;
}

body.hide-content .showcase {
	left: -100%;
}

body.hide-content .tunnel {
	opacity: 1;
}

.header-video {
	width: 100%;
	height: 100%;
	position: relative;
}

.tunnel {
	background-color: #00ffd956;
	position: relative;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -99;
	overflow: hidden;
	/*top: 0;*/
	/*left: 0;*/
	opacity: .7;
	transition: opacity 2.5s linear;
}

.particles {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10;
}

/*PRINCIPAL PHRASE (Not artistic, unrealistic, unsafe a little, not those things)*/
.showcase {
	position: absolute;
	display: flex;
	top: calc(50vh - 175px);
	left: 0;
	flex-wrap: wrap;
	margin: 0 15px;
	width: 700px; /* horizontal ------ */
	height: 350px; /* vertical | */
	transition: all 2.5s linear;
	z-index: 20;
}

.showcase h2 {
	font-size: 60px;
	font-weight: bold;
}

/*PHRASE S E P A R A T E*/
.not-artistic {
	margin-right: 10px;
	transition: 0.3s ease all;
}
.not-artistic:hover {
	color: #05fdd8;
	animation: 0.3s shake infinite alternate;
}

.unrealistic {
	margin-right: 10px;
	transition: 0.3s ease all;
}
.unrealistic:hover {
	color: #05fdd8;
	animation: 0.3s shake infinite alternate;
}

.unsafe-a-little {
	margin-right: 10px;
	transition: 0.3s ease all;
}
.unsafe-a-little:hover {
	color: #05fdd8;
	animation: 0.3s shake infinite alternate;
}

.not-those-things {
	margin-right: 10px;
	transition: 0.3s ease all;
}
.not-those-things:hover {
	color: #fd2155;
	text-decoration: line-through;
	text-decoration-color: #05fdd8;
	animation: 0.3s shake infinite alternate;
}

@keyframes shake {
	0% {
		transform: skewX(-15deg);
	}
	5% {
		transform: skewX(15deg);
	}
	10% {
		transform: skewX(-15deg);
	}
	15% {
		transform: skewX(15deg);
	}
	20% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(0deg);
	}
}

/*END OF PHRASE S E P A R A T E*/

/*"digital artist in progress... :)"*/

/*GLITCH EFFECT*/
.what-i-pretend {
	font-size: 20px;
	letter-spacing: 12.5px;
	font-weight: 700;
	width: 700px;
	border-top: 5px solid #fff;
	text-align: center;
	text-shadow: 2.2px 0 0 rgba(255, 30, 0, 0.75),
		-1.5px -1.3px 0 rgba(0, 255, 149, 0.75),
		1.5px 1.3px 0 rgba(0, 238, 255, 0.75);
}

@keyframes glitch {
	0% {
		text-shadow: 2.2px 0 0 rgba(255, 30, 0, 0.75),
			-1.5px -1.3px 0 rgba(0, 255, 149, 0.75),
			1.5px 1.3px 0 rgba(0, 238, 255, 0.75);
	}
	15% {
		text-shadow: -2.2px -1.3px 0 rgba(255, 30, 0, 0.75),
			1.5px 1.3px 0 rgba(0, 255, 149, 0.75),
			-1.5px -1.3px 0 rgba(0, 238, 255, 0.75);
	}
	50% {
		text-shadow: 2.5px 0 1.3px rgba(255, 30, 0, 0.75),
			-1.9px -2.3px 0 rgba(0, 255, 149, 0.75),
			2.1px 2px 0 rgba(0, 238, 255, 0.75);
	}
	100% {
		text-shadow: -2.1px -1.3 0 rgba(255, 30, 0, 0.75),
			1.8px 1.9px 0 rgba(0, 255, 149, 0.75),
			-2px -1.2px 0 rgba(0, 238, 255, 0.75);
	}
}

.what-i-pretend:hover {
	animation: glitch 0.5s infinite;
}

/*MOVIL VIEW (RESPONSIVE SETTINGS)*/

@media (max-width: 1000px) {
	/*Video Tunnel Loop*/

	.tunnel {
	}

	/*(Not artistic, unrealistic, unsafe a litlle, not those things)*/

	.showcase {
		margin: 0 80px;
		width: auto;
		height: auto;
		top: 100px;
		text-align: center;
		justify-content: center;
	}

	.showcase h2 {
		font-size: 45px;
	}
	.what-i-pretend {
		width: auto;
	}
}
@media (max-width: 650px) {
	.showcase h2 {
		font-size: 40px;
	}
	.what-i-pretend {
		font-size: 15px;
	}

	.showcase {
		margin: 0 15px;
		top: 21vh;
	}
	.tunnel {
		max-width: 100%;
		max-height: 99.3%;
		width: 150%;
		height: 150%;
	}
}

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background-color: #1d1d1d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splash-screen__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.loading h2 {
	margin-bottom: 1rem;
}

.loading span {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin: .30em;
	background: #fff;
	animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
	animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
	animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
	animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
	animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
	animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
	animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
