/*Reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Principal Style of entire WebSite and text*/
html {
	height: 100%;
	margin: 0;
}

body {
	font-family: "Oswald", sans-serif;
	margin: 0;
	min-height: 100%;
	background-color: #161B22;
	color: #ffffff;
	cursor: auto;
}

body.home {
	max-height: 100vh;
	height: 100%;
	overflow: hidden;
}

body.about {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
}

#root {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	height: 100%;
}

a {
	color: #ffffff; /* Text Color of icons and nav tabs */
	text-decoration: none;
}

ul {
	list-style: none;
}

main {
	position: relative;
}
