.gallery_wallpapers{
    columns: 2 450px;
    column-gap: .5em;
}

.item__info__wall{
    position: absolute;
    max-height: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d1d1d;
    opacity: 0;
    transition: .5s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-item:hover .item__info, .gallery-item:hover .item__info__wall {
    opacity: .8;
}

.download__icon{
    border-bottom: #fff solid 2.5px;
    cursor: pointer;
}
